.App {
  text-align: center;
}

a {
  margin-right: 8px;
  display: block;
}

.headline {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #ccc;
}

.headline-detail {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #eee;
}

table, th, tr, td {
  border: 1px solid black;
  padding: 20px;
}
